/*Admin Page Styles*/
.summary-settings, .summary_large_image-settings, .photo-settings, .gallery-settings, .app-settings, .player-settings, .product-settings {
	display: none;
}

.bold {
	font-weight: bold;
}

.app-input {
	vertical-align: top;
}

input[type=text] {
	width: 40%;
}

.twitter-image {
	height: 100px !important;
	width: 200px;
}

.twitter-image-box {
	height: 100px;
	width: 100px;
}